@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

.ratingCard {
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 327px;
    border-radius: 15px;
    background: radial-gradient(98.96% 98.96% at 50% 0%,
            #232a34 0%,
            #181e27 100%);
    border-radius: 15px;
}

.startDiv {
    margin-top: 24px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #262e38;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.star {
    height: 13.333333015441895px;
    width: 13.956050872802734px;
}

.question {
    margin-left: 24px;
    margin-top: 16px;
    height: 37px;
    font-family: "Overpass";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.paragraph {
    margin-left: 24px;
    height: 66px;
    width: 279px;
    font-family: "Overpass";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #969fad;
}

.ratingList {
    margin-left: 24px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    align-items: center;
    width: 281px;
    height: 42px;
}

.rating {
    display: flex;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: #262e38;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-family: "Overpass";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.175px;
    color: #7c8798;
    margin-right: 17px;
}

.submit {
    background: #fc7614;
    border-radius: 22.5px;
    border: none;
    font-family: "Overpass";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.86667px;
    color: #ffffff;
    cursor: pointer;
}

.submit:hover {
    background-color: white;
    font-family: "Overpass";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #fc7614;
}

.rating:hover {
    background-color: #fc7614;
    color: white;
    font-family: "Overpass";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.2px;

    /* Pure White */

    color: #ffffff;
}

.chosen {
    background-color: #7c8798;
    color: white;
    font-family: "Overpass";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;


    text-align: center;
    letter-spacing: 0.2px;


    color: #ffffff;
}

.centerButt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 24px;
}

@media screen and (min-width: 1440px) {
    .ratingCard {
        height: 416px;
        width: 412px;
    }

    .startDiv {
        height: 48px;
        width: 48px;
        margin-top: 32px;
        margin-left: 32px;
    }

    .star {
        height: 16px;
        width: 16.74726104736328px;
    }

    .question {
        margin-top: 30px;
        margin-left: 32px;
        font-size: 28px;
        line-height: 35px;
    }

    .paragraph {
        height: 72px;
        width: 340px;
        font-size: 15px;
        line-height: 24px;
        margin-left: 32px;
        margin-bottom: 24px;
    }

    .ratingList {
        width: 341px;
        height: 51px;
    }

    .rating {
        height: 51px;
        width: 51px;
        font-size: 16px;
        line-height: 24px;
        margin-right: 21px;
    }

    .centerButt {
        margin-top: 32px;
    }
}